<% include partials/header %>

<div id="container" class="container">
<h1>DonutFindr</h1>
	<div id="form-container">
		<form action="/results" method="POST">
		    <label>Search:</label>
		    	<input type="text" name="locationName" placeholder="Beverly Hills, CA or 90210">
		        <button class="button btn-search">Submit</button> 
		</form>
	</div>
</div>
<% include partials/footer %>
